<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col-6 col-md-4">
                <div class="footer-headline">Discord</div>
                <iframe src="https://ptb.discord.com/widget?id=762644745511239690&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe
            </div><br />
            <div class="col-6 col-md-4">
                <div class="footer-headline">Nützliche Links</div>
                <a href="https://github.com/diktatoria/">GitHub</a><br>
                <a href="https://diktatoria.github.io/discord">Discord Server</a><br>
            </div>
            <div class="col-6 col-md-4">
                <div class="footer-headline">Rechtlicher Scheiß</div>
                <a href="/imprint">Imprint</a><br>
                <a href="/privacy-policy">Privacy Policy</a><br>
            </div>
        </div>
    </div>

</footer>
